<div class="hero">
    <h2><mat-icon>home</mat-icon>About</h2>
    <h3>A Platform Build For Students by a student You get Access to all Important Courses to upskill yourself</h3>
</div>
<mat-divider></mat-divider>
<div class="hero">
    <h2><mat-icon>book</mat-icon>courses</h2>
    <h3>All Courses available here by Domain so you can choose easily</h3>
</div>
<mat-divider></mat-divider>
<div class="hero">
    <h2><mat-icon>rss_feed</mat-icon>Blogs</h2>
    <h3>Share your thoughts by writing blogs</h3>
</div>
<mat-divider></mat-divider>
<div class="hero">
    <h2><mat-icon>currency_rupees</mat-icon>Finance</h2>
    <h3>Mange your finances using finance feature of this app</h3>
</div>
<mat-divider></mat-divider>
<div class="about">
    <h2><mat-icon>person</mat-icon>Tej pratap</h2>
    <h3>This application is developed and managed by Tej Pratp</h3>
</div>

<!-- <mat-spinner color="warn"></mat-spinner> -->


