<mat-toolbar color="warn">
    <mat-toolbar-row>
        <button mat-icon-button>
          <mat-icon (click)="mainmenu.toggle();">menu</mat-icon>
          </button>
      <span>{{title}}</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class=red-container>
  <mat-sidenav #mainmenu mode="over">
    <mat-nav-list>
      <a mat-list-item routerLink='/home' (click)="mainmenu.toggle()">Home</a>
      <a mat-list-item routerLink='/courses' (click)="mainmenu.toggle()">Courses</a>
      <a mat-list-item routerLink='/blogs' (click)="mainmenu.toggle()">Blogs</a>
      <a mat-list-item routerLink='/user' (click)="mainmenu.toggle()">Account</a>
      <a mat-list-item routerLink='/mydashboard' (click)="mainmenu.toggle()">Dashboard</a>
    </mat-nav-list>
</mat-sidenav>

<mat-sidenav-content>
  <div  class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-content>

</mat-sidenav-container>
