<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button>
          <mat-icon (click)="mainmenu.toggle();">menu</mat-icon>
          </button>

      <span>{{title}}</span>
      <span class="example-spacer"></span>
      <button mat-icon-button>
        <mat-icon (click)="secmenu.toggle();">account_circle</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class=red-container>
  <mat-sidenav #mainmenu mode="over">
    <mat-nav-list>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink='/home' (click)="mainmenu.toggle()"><mat-icon>home</mat-icon>Home</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink='/courses' (click)="mainmenu.toggle()"><mat-icon>book</mat-icon>Courses</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink='/blogs' (click)="mainmenu.toggle()"><mat-icon>rss_feed</mat-icon>Blogs</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink='/finance' (click)="mainmenu.toggle()"><mat-icon>currency_rupees</mat-icon>Finance</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
</mat-sidenav>

<mat-sidenav #secmenu mode="over" position="end" >
  <mat-nav-list>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink='/user' (click)="secmenu.toggle()"><mat-icon>lock</mat-icon>Login</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink='/mydashboard' (click)="secmenu.toggle()"><mat-icon>dashboard</mat-icon>Dashboard</a>
    <mat-divider></mat-divider>
  </mat-nav-list>
</mat-sidenav>

<mat-sidenav-content>
  <div  class="container">
    <!-- <p> token-> {{token}}</p> -->
    <router-outlet></router-outlet>

  </div>

</mat-sidenav-content>




</mat-sidenav-container>
