.container {
   margin : 0.5rem 1rem 0rem 1rem;
   height:91vh;
}

mat-toolbar{
  background-color:#202124;

}

.example-spacer {
  flex: 1 1 auto;
}

.red-container {
  color:black;
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
  background-attachment: fixed;
}
mat-sidenav{
  background-color:#202124;




}
