

<div *ngIf="!loading" class="card">
  <h2 class="login-title">REGISTER</h2>

  <form class="login-form"  #formData="ngForm" (ngSubmit)="registerUser(formData)">
    <div>
      <label for="firstname">First Name </label>
      <input
             id="firstname"
             type="text"
             placeholder="John"
             name="firstname"
             ngModel
             required
             />
    </div>
    <div>
      <label for="lasname">Last Name </label>
      <input
             id="lastname"
             type="text"
             placeholder="Thomas"
             name="lastname"
             ngModel
             required
             />
    </div>
    <div>
      <label for="email">Phone </label>
      <input
             id="phone"
             type="number"
             placeholder="xxxxxxxxxxx"
             name="phone"
             ngModel
             required
             />
    </div>

    <div>
      <label for="email">Email </label>
      <input
             id="email"
             type="email"
             placeholder="me@example.com"
             name="email"
             ngModel
             required
             />
    </div>

    <div>
      <label for="password">Password </label>
      <input
             id="password"
             type="password"
             placeholder="Password"
             name="password"
             ngModel
             required
             />
    </div>
    <div>
      <label for="password">Confirm Password </label>
      <input
             id="confirmPassword"
             type="password"
             placeholder="Confirm Password"
             name="confirmPassword"
             ngModel
             required
             />
    </div>

    <button class="btn btn--form" type="submit" value="Log in">
      Register
    </button>
  </form>
  <div class="signup-link">
    <h4>Already have an accont <a  color="warn" routerLink="/login">LOGIN</a></h4>
  </div>

</div>

<div *ngIf="loading">
  <app-loader></app-loader>
</div>