  
  .card{
    background-color: #fff;
    
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem !important;
  }
  .login-title {
    padding: 15px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  
  .login-form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 8px;
  }
  
  .login-form input {
    width: 90%;
    padding: 1.2rem;
    border-radius: 9px;
    border: none;
    font-size:17px;
    padding-left: 15px;
    border: 2px solid grey;
  }
  
  .login-form input:focus {
    outline: invert;
    box-shadow: 0 0 0 4px rgba(19, 128, 195, 0.5);
  }
  
  .btn--form {
    background-color:#3F51B5;
    color: #fdf2e9;
    align-self: end;
    padding: 8px;
  }
  
  .btn,
  .btn:link,
  .btn:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 9px;
    border: none;
  
    cursor: pointer;
    font-family: inherit;
  
    transition: all 0.3s;
  }
  
  button {
    outline: 1px solid#3F51B5;
  }
  
  .btn--form:hover {
    background-color: #fdf2e9;
    outline: 1px solid#fdf2e9;
    color:#3F51B5;
  }
  .signup-link{
    margin: 0.5rem;
    text-align: center;
  }
