
<div *ngIf="!loading" class="card">
  
  <h2 class="login-title">LOG IN</h2>

  <form class="login-form"  #formData="ngForm" (ngSubmit)="loginUser(formData)">

    <div>
      <label for="email">EMAIL </label>
      <input
             id="email"
             type="email"
             placeholder="me@example.com"
             name="userid"
             ngModel
             required
             />
    </div>

    <div>
      <label for="password">PASSWORD </label>
      <input
             id="password"
             type="password"
             placeholder="password"
             name="password"
             ngModel
             required
             />
    </div>

    <button class="btn btn--form" type="submit" value="Log in">
      Log in
    </button>
  </form>
  <div class="signup-link">
    <h4>Don't have an accont <a  color="warn" routerLink="/register">SIGN UP</a></h4>
  </div>

</div>

<div *ngIf="loading">
  <app-loader></app-loader>
</div>

