<div class = "mylogin">
    <h2>LOGIN</h2>
    <form class="example-form" #formData="ngForm" (ngSubmit)="loginUser(formData)">
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="email@xyz" name="userid" ngModel>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="*******" name="password" ngModel>
          </mat-form-field>
          <button mat-button type="submit" color="warn">Login</button>

    </form>
    <p>Don't have an accont <button mat-button color="warn" routerLink="/register">Sign UP</button></p>
    

</div>

<div *ngIf="loading" class="spin"></div>

