<div *ngIf="!loading">


  <mat-tab-group (selectedTabChange)="tabChange($event)">
    <mat-tab *ngFor="let category of categories" label={{category}} class="tab">

      <mat-grid-list cols="1" rowHeight="25rem" gutterSize="20px">
        <div>
          <mat-grid-tile *ngFor="let course of tempCourse">
            <mat-card fxFlexAlign="stretch">
              <mat-card-header>
    
                <mat-card-title>{{course?.title}}</mat-card-title>
                <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
              </mat-card-header>
              <img width="250" height="200" mat-card-image src="{{course?.imageUrl}}">
              <mat-card-content>
                <p>
                  {{course?.body}}
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button routerLink="/courses/{{course?._id}}">DETAILS</button>
                <button mat-button>WISHLIST</button>
                <button mat-button>BUY</button>
              </mat-card-actions>
            </mat-card>
          </mat-grid-tile>
        </div>
      </mat-grid-list>
      
    </mat-tab>
  </mat-tab-group>




</div>

<div *ngIf="loading">
<app-loader></app-loader>
</div>

<div *ngIf="errorLoading">
  <h1>Error Data Not Loaded...</h1>
  <p>Please wait</p>
</div>


<!-- <ng-template #loadingTemplate>
  <div>
    <h2>Loading...</h2>
    <p>Please wait</p>
  </div>

</ng-template> -->