/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
   margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
   /*background-image: url("https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-3798.jpg?w=996&t=st=1666874915~exp=1666875515~hmac=9341480e1b9601b208875e6832e65ed34e818019815fc5f0dfaafcfb39f95a40");
   background-attachment: fixed;*/

   background-color: #FFDEE9;
   background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
   background-attachment: fixed;




 }
