<div *ngIf="!loading">
  <div class="container d-flex justify-content-center mt-2">

    <div class="card">
      
      <div class="top-container">
        
        <img src="https://img.freepik.com/premium-vector/anonymous-user-circle-icon-vector-illustration-flat-style-with-long-shadow_520826-1931.jpg" class="img-fluid profile-image" width="70">
        
        <div class="ml-3">
          <h5 class="name">{{user?.firstname}} {{user?.lastname}}</h5>
          <p class="mail">+91 {{user?.phone}}</p>
          <p class="mail">{{user?.email}}</p>
        </div>
      </div>
  
  
      <div class="middle-container d-flex justify-content-between align-items-center mt-3 p-2">

          <div class="d-flex flex-column text-left mr-2">
            <span class="current-balance mr-5">This Month</span>
            <span class="amount"><span class="dollar-sign">₹</span> 1476 <span class="dollar-sign">/</span> 5000</span>
          </div>


  
      </div>



  
      <div class="fashion-studio-border pt-2">
        <a class="fashion-studio">Edit Profile</a>
      </div>
      <div class="fashion-studio-border pt-2">
        <a class="fashion-studio">Settings</a>
      </div>
      <div class="fashion-studio-border pt-2">
        <a class="fashion-studio">Logout</a>
      </div>
      
    </div>
    
  </div>
</div>


  <div *ngIf="loading">
    <app-loader></app-loader>
  </div>
